@tailwind base;
@tailwind components;
@tailwind utilities;

.myContainer{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.profileimg div{
    transition: all 0.3s;
    display: grid;
    place-items: center;
}

.profileimg:hover div{
    width: 100%;
}
.imgHidden{
    display: none !important;
}